#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.text-small {
  font-size: small;
}

.blame-box  {
  cursor: pointer;
}

.codeblock-highlight {
  background-color: rgb(53, 0, 0) !important;
  cursor: pointer;
}

.blamelist{
  font-size: small;
  direction: rtl;
  /* overflow-x: hidden; */
}

.jump-to-issue{
  transform: translateY(-2em);
  cursor: pointer;
  opacity: 0.4;
}

.jump-to-issue:hover{
  opacity: 1;
}